:host {
  display: block;
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

.form-field__label {
  display: inline-block;
  text-align: left;
  font-size: var(--wa-sm);
  font-weight: 600;
  line-height: var(--line-height-small);
}

/*:host(.ng-search) .form-field__submit {*/
/*  background-color: var(--background-color);*/
/*  display: inline-block;*/
/*  border: none;*/
/*  border-left: 2px solid var(--background-color);*/
/*  padding: var(--space-8) var(--space-16);*/

/*  color: var(--primary-color);*/
/*}*/
