:host {
  display: inline-flex;
  border: 2px solid var(--background-color);
  border-radius: 4px;
}

.form-field__submit {
  display: none;
}

:host(.ng-search) .form-field__submit {
  background-color: var(--background-color);
  display: inline-block;
  border: none;
  border-left: 2px solid var(--background-color);
  padding: var(--space-8) var(--space-16);

  color: var(--primary-color);
}
