/* Added modern-normalize.css by angular.json*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --font-family: 'DM Sans';

  --wa-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
  --wa-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
  --wa-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
  --wa-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
  --wa-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
  --wa-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
  --wa-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);

  --base-unit: 0.5rem;
  --space-base-unit: var(--base-unit);
  /* Margin, Padding - 8x8 grid */
  --space-4: calc(var(--space-base-unit) * 0.5);
  --space-8: calc(var(--space-base-unit) * 1);
  --space-16: calc(var(--space-base-unit) * 2);
  --space-24: calc(var(--space-base-unit) * 3);
  --space-32: calc(var(--space-base-unit) * 4);
  --space-40: calc(var(--space-base-unit) * 5);
  --space-48: calc(var(--space-base-unit) * 6);
  --space-64: calc(var(--space-base-unit) * 8);

  --line-height-base-unit: 1;
  --line-height-small: calc(var(--line-height-base-unit) * 1.2);
  --line-height-medium: calc(var(--line-height-base-unit) * 1.4);
  --line-height-large: calc(var(--line-height-base-unit) * 1.5);

  --xl-screen: 80rem;
  --lg-screen: 64rem;
  --md-screen: 48rem;
  --sm-screen: 40rem;

  --border-radius: 4px;

  --background-color: #f5f5f5;
  --background-color-footer: #ffffff;

  --primary-color: #e1bee7;
  --secondary-color: #f2f2f2;
  --terciary-color: #fff9c4;
  --fourth-color: #4dd0e1;

  --text-color: #333333;
  --text-color-light: #ffffff;
  --secondary-text-color: #666666;
  --secondary-text-color-light: #f5f5f5;

  --link-color: #1e88e5;
  --success: #388e3c;
  --error: #d32f2f;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  /* overrides height  */
  min-height: 100vh;
  /* workaround */
  height: 100%;
}

html {
  font-size: 100%;
  text-size-adjust: 100%;
  /*color-scheme: light dark;*/

  font-synthesis: none;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: var(--wa-base);
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  line-height: var(--line-height-small);
  color: var(--text-color);

  container-type: inline-size;
  /*width: var(--xl-screen);*/
  margin: 0 auto;

  /* remove border in production */
  /*border: 1px solid white;*/
}

ul,
ol,
li {
  list-style: none;
}

input {
  font-size: var(--wa-base);
  line-height: var(--line-height-medium);
  background-color: transparent;
  color: inherit;
}

.app-input-element {
  padding: var(--space-8) var(--space-16);
  border-radius: var(--border-radius, 4px);
  border: 1px solid var(--secondary-text-color);
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.app-input-element::placeholder {
  color: var(--secondary-text-color);
}

.app-input-element:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.app-input-element:active {
  border-color: var(--primary-color, #888888);
}

.app-input-element[type='search']::-webkit-search-cancel-button,
.app-input-element[type='search']::-webkit-search-decoration,
.app-input-element[type='search']::-webkit-search-results-button,
.app-input-element[type='search']::-webkit-search-results-decoration {
  display: none;
}

.du-button-base {
  display: inline-block;
  padding: var(--space-8) var(--space-32);
  border-radius: var(--border-radius, 4px);
  border: 1px solid var(--secondary-text-color);
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: var(--secondary-text-color);
}
.du-button-base:hover,
.du-button-base:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
