<main class="page-main">
  <section class="landing-hero">
    <div class="landing-hero__content">
      <div aria-labelledby="hidden-heading">
        <h1 class="landing-hero__title visually-hidden">DUENIAS</h1>
        <img src="duenia-logo.svg" alt="Logo de Duenias" class="landing-hero__logo" width="400" />
        <div class="landing-hero__message">
          <p>Facilita la conexión y el apoyo entre personas como tú.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="landing-hero__wrapper-login">
    <div aria-labelledby="hidden-heading" role="form">
      <h2 id="hidden-heading" class="visually-hidden">Accede a tu cuenta</h2>
      <form class="landing-hero__login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <app-form-field>
          <app-label>Correo electrónico o número de teléfono</app-label>
          <input duInput type="text" placeholder="duenia@correo.com o 666666666" formControlName="emailOrTelephone" />
        </app-form-field>
        <app-form-field>
          <app-label>Contraseña</app-label>
          <input
            duInput
            type="password"
            placeholder="mínimo 8 caracteres
"
            formControlName="password"
          />
        </app-form-field>
        <button duButton type="submit">Iniciar sesión</button>
      </form>
    </div>
  </section>
</main>
<footer class="page-footer">
  <div class="page-footer__content">
    <div class="page-footer__copyright">
      <div>
        <span>calmayourdrama &copy;</span>
      </div>
    </div>
  </div>
</footer>
